.pe-5 {
  color: gold;
  font-size: 24px;
}

.details-page {
  margin-top: 100px;
}

body {
  --darkblue: #040a2c;
  --lightblue: #00f0ff;
  margin: 0;
  background-color: var(--darkblue);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
  color: white;
  background-color: var(--darkblue);
  aspect-ratio: 16/9;
  border-style: solid;
  border-radius: 10px;
  border: 3px solid var(--lightblue);
  box-shadow: 0 0 15px var(--lightblue), inset 0 0 20px var(--lightblue);
}
