@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.neon-text {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 162, 0), 0 0 82px rgb(255, 162, 0),
    0 0 92px rgb(255, 162, 0), 0 0 102px rgb(255, 162, 0),
    0 0 151px rgb(255, 162, 0);
}

h3 {
  animation: pulsate 2.5s infinite alternate;
  font-family: "Orbitron", sans-serif;
}
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff,
      0 0 40px rgb(255, 162, 0), 0 0 80px rgb(255, 162, 0),
      0 0 90px rgb(255, 162, 0), 0 0 100px rgb(255, 162, 0),
      0 0 150px rgb(255, 162, 0);
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff,
      0 0 10px rgb(255, 162, 0), 0 0 45px rgb(255, 162, 0),
      0 0 55px rgb(255, 162, 0), 0 0 70px rgb(255, 162, 0),
      0 0 80px rgb(255, 162, 0);
  }
}

.searcher {
  display: flex;
  flex-direction: column;
}
